h2 {
    font-size: 3em;
    font-weight: bold;
    padding: 1em
}

th, td, tr {
    border: 1px solid whitesmoke;
}

.link {
    text-decoration: none;
    color: black;
    padding: 1.28em 0.9em;
}

.board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.board-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    backdrop-filter: blur(24px);
    border: 2px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    border-radius: 8px;
    z-index: 0;
}

.board-container table {
    backdrop-filter: blur(256px);
    border-collapse: collapse;
    position: relative;
    width: 60em;
    height: 40em;
    margin: 1.5em;
    cursor: default;
    text-align: center;
    table-layout: fixed;
    font-size: 1.1em;
}

.thead-style th {
    padding: 1em;
    font-size: 1.15em;
    font-weight: bold;
}