/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */

* {
    font-size: 1rem;
    font-family: serif;
    user-select: none;
    transition-duration: 0.8s;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    padding: 1em
}

th, td, tr {
    border: 1px solid whitesmoke;
}

.main-container {
    background-image: url("CPU-Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

.first-content {
    margin-top: 2em;
}

.content {
    position: relative;
    padding: 0.5em;
}

.last-content {
    margin-bottom: 2em;
}

.input-field {
    position: relative;
    background: whitesmoke;
    width: 20em;
    height: 2em;
    border: thin solid rgb(185, 197, 246);
    border-radius: 15px;
    transition-duration: 0.8s;
    text-align: center;
    caret-color: blueviolet;
    caret-shape: auto;
}

.input-field:hover {
    border: medium solid rgb(185, 197, 246);
    background: rgb(185, 197, 246);
}

.input-field::placeholder {
    font-weight: bolder;
}

.button-style {
    background: whitesmoke;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 2em;
    border: medium solid rgb(185, 197, 246);
    border-radius: 6px;
    transition-duration: 0.8s;
    width: 12em;
    height: 2.25em;
    cursor: pointer;
}

.table-button-style {
    background: whitesmoke;
    font-weight: bolder;
    text-align: center;
    border: medium solid rgb(185, 197, 246);
    border-radius: 2px;
    transition-duration: 0.8s;
    width: 7em;
    height: 4em;
    cursor: pointer;
}

.bottom-buttons {
    display: flex;
    margin: 0 1em;
}

.button-style:hover, .table-button-style:hover {
    background: rgb(185, 197, 246);
    color: darkblue;
}

.button-style:active, .table-button-style:active {
    transform: scale(0.85);
    transition-duration: 0.3s;
}

.link {
    text-decoration: none;
    color: black;
    padding: 1.28em 0.9em;
}

.board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.board-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    backdrop-filter: blur(24px);
    border: 2px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    border-radius: 8px;
    z-index: 0;
}

.board-container table {
    background-color: #323c81;
    border-collapse: collapse;
    position: relative;
    width: 60em;
    height: 40em;
    margin: 1.5em;
    cursor: default;
    text-align: center;
    table-layout: fixed;
    font-size: 1.1em;
}

.thead-style th {
    padding: 1em;
    font-size: 1.15em;
    font-weight: bold;
}

.cpuupload-h2 {
    margin-top: 3.8em;
}

.upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32em;
    height: 26em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.upload-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    backdrop-filter: blur(24px);
    border: 1px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32em;
    height: 26em;
    border-radius: 25px;
    z-index: 0;
}

.notfound-h2 {
    font-size: 4em;
    color: indianred;
}

.notfound-p {
    font-size: 1.5em;
    color: yellow;
}