@import "./cpulist.css";

* {
    font-size: 1rem;
    font-family: serif;
    user-select: none;
    transition-duration: 0.8s;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main-container {
    background-image: url("CPU-Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
}

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */